@import 'themes-vars.module.scss';
@import 'plugins/plugins';

/* breadcrumb */
.icon-breadcrumb {
  margin-right: 5px;
}

.link-breadcrumb {
  font-size: 1rem;
  display: flex;
  text-decoration: none;
}

/* card */

.card-header {
  font-weight: 600 !important;
  font-size: 16px;
}

.apexcharts-legend-marker {
  margin-right: 8px !important;
}

.f-right {
  float: right;
}
.p-0 {
  padding: 0 !important;
}
.p-20 {
  padding: 20px !important;
}

.apexcharts-legend-text {
  padding-right: 4px;
}

.css-7blk3r-MuiButtonBase-root-MuiButton-root {
  color: $textDarkDark !important;
}

.css-1ygwmtn-MuiTypography-root {
  font-size: 1rem;
}

.css-19ve13 {
      padding: 20px;
  }

.css-1xcj97m-MuiList-root {
  padding-bottom: '2px';
}

.css-rgix5o-MuiTypography-root {
  margin-top: 0;
  padding: 0;
}

.css-1r7lhx6-MuiTypography-root {
  font-size: 1rem;
}

.css-1cuuumf-MuiTypography-root {
  font-size: 1rem;
}

.css-uzkghz-MuiTypography-root {
  font-size: 1rem;
}

.css-l0p93y-MuiButtonBase-root-MuiListItemButton-root {
  padding: 0.4%;
}

.css-1pc9ohi-MuiButtonBase-root-MuiListItemButton-root {
  padding: 0.4%;
}

.css-ert14s-MuiTypography-root {
  padding: 0;
}